@viewport{
    width: device-width;}
    
    
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);  

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,700italic,900);

html, body{
  background-color: #f5f5f5;
  background-image: none;
  min-height:100%;
  margin: 0;
  padding: 0;
  color: #474747;}
  
.logout { background-color: #dd191d; }
.logout:hover { background-color: #e51c23; } 

a { 
text-decoration: none;
}


#settings-content ul li  {
	list-style: none;
	text-align: center;
	color: #474747;
	font-style: 'Roboto', sans-serif; 
	font-size: 14px;
	margin: 1em;
}

/* Page Boxes & Widgets */ 

/* Activity Page */ 

.page-header5 { 
	display: none;
	height: 150px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: -1em;	
	background-color: #E91E63;
}

.page-header5 h1 { 
	color: #fff;
	padding-left: 5%;
	margin: 0;
	padding-top: 60px;
	font-weight: 300;
	font-size: 28px;
}

.feed {
    border: none;
    cursor: pointer;	
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFEB3B;    
	float: right;
	bottom: 0.8em;
	right: 0.8em;
	position: fixed;
	z-index: 9999;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
    background-image: url('../../images/icons/web/ic_refresh_grey600_48dp.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px;      
     }
    
.feed:hover {     
    border: none;
    cursor: pointer;	
	width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFEE58;    
	float: right;
	bottom: 0.8em;
	right: 0.8em;
	position: fixed;
	z-index: 9999;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
    background-image: url('../../images/icons/web/ic_refresh_grey600_48dp.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 26px;   }
    
.feed:focus { outline:0 !important; background-color: none;}
    
/* Collection Page */ 

.page-header3 { 
	display: none;
	height: 150px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #3F51B5;
}

.new-coll {
	display: block;
    border: none;
    cursor: pointer;	
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#FF4081;    
	float: right;
	bottom: 0.8em;
	right: 0.8em;
	position: fixed;
	z-index: 9999;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);}
    
.new-coll:hover {  background-color:#F06292;  }

.new-coll p { 
color: #fff;
font-size: 28px;
font-weight: 300;
margin-top: 0.2em;
margin: auto;
}

.page-header3 h1 { 
	color: #fff;
	padding-left: 3%;
	margin: auto;
	padding-top: 100px;
	font-weight: 300;
	font-size: 28px;	}

/* Events Page */ 

.page-header4 {  display: none; height: 150px; width: 100%; padding: 0; margin: 0; background-color: #03A9F4; }

.page-header4 h1 { color: #fff; padding-left: 3%; margin: 0; padding-top: 100px; font-weight: 300; font-size: 28px;}

.new-event {
    border: none;
    cursor: pointer;	
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFEB3B;    
	float: right;
	bottom: 0.8em;
	right: 0.8em;
	position: fixed;
	z-index: 9999;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
     }
.new-event:hover {  background-color: #FFEE58;  }
.new-event p {  color: #fff; font-size: 28px; font-weight: 300; margin: auto; }


/* Settings Page */ 

.page-header { 
	display: none;
	height: 150px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #00bcd4;
}

.page-header h1 { 
	color: #fff;
	padding-left: 3%;
	margin: 0;
	padding-top: 100px;
	font-weight: 300;
	font-size: 28px;}

.page-header .submit4 { 
	float: right;
	top: 170px;
	right: 0.8em;
	position: absolute;
	z-index: 9999;
}

/* Notifications Page */ 

.noti-header { height: 150px; width: 100%; padding: 0; margin: 0; margin-bottom: 2em; background-color: #01579b; }
.noti-header h1 { color: #fff; padding-left: 3%; margin: 0; padding-top: 100px; }

.noti-bin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#e65100;    
	float: right;
	bottom: 0.8em;
	right: 0.8em;
	position: fixed;
	z-index: 9999;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
     }
    
.noti-bin:hover {  background-color: #ef6c00;  }

.noti-bin img { width: 18px; height: 18px; }
	
/* People Page */ 

.page-header2 { 
	height: 150px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #ff4081;
}

.page-header2 h1 { 
	color: #fff;
	padding-left: 3%;
	margin: 0;
	padding-top: 100px;
}

/* END OF HEADERS AND BUTTONS */


/* START OF PAGE CONTENT AND SUB DIVS */ 

.page-wrapper { 
	width: 100%;
	background-color: rgba(255,255,255,0);
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	margin-bottom: 6em;
	padding: auto;
	border: 0px solid black;
	}

.page-wrapper .cards-wrapper { margin-top: -2em;}

     
/*NOTIFICATIONS PAGE */


.notification-card { background-color: #fff; border-radius: 0px; box-shadow:  0px 1px 1px 1px rgba(0,0,0,0.1); height: 60px; width: 300px; 
margin-top:0em; margin-left: auto; margin-right: auto; margin-bottom: 0; text-align: center; padding: 0;}


.noti-img { background-color: black; height: 30px; width: 30px; border-radius: 50%; float: left; margin: 16px 6px 4px 6px; 
	display: inline-block;
	background-position: center center;
    background-size: cover;}

.headline { width: 240px; margin: auto; float: center; border: rgba(255,255,255,0.0) solid 1px; padding: 0; text-align: left; height: 80px;}
.headline h6 { margin: auto; margin-top: 22px; padding: 0; font-size: 11px; } 

.card-icon { height: 60px; width: 40px; background-color: #03a9f4; float: right; margin: auto; margin-top: -82px; padding: 0; }
.card-icon img { width: 16px; height: 16px; margin: auto; margin-top:20px; float: center; }


/* OLD CONTENT STYLE */  

#notifications-content { 
     display: none;
	 margin:auto;
	 margin-top: 0em;
	 margin-bottom: 0em;
	 margin-left: auto;
	 margin-right: auto;
	 padding: 0;
	 background-color: #fff;
	 width: 560px;
	 height: 620px;
     box-shadow:  0px 2px 2px 1px rgba(0,0,0,0.2);
     border-radius: 2px;
     float: center;
     position: static;
     text-align: center;}

#notifications-content h4  { 
	
	  margin: auto;
	  padding-top: 0.8em;
	  padding-bottom: 0.8em;
	  border-bottom: solid 1px rgba(0,0,0,0.2);
	  background-color: rgba(255,255,255,0.5);
	  color: #474747;
	
}


/******  PEOPLE PAGE ******/


#people-content { 
	 margin:auto;
	 margin-top: -0em;
	 margin-bottom: 4em;
	 margin-left: auto;
	 margin-right: auto;
	 padding: 0;
	 background-color: #fff;
	 width: 90%;
	 height: 620px;
     box-shadow:  0px 2px 2px 1px rgba(0,0,0,0.2);
     border-radius: 2px;
     float: none;
     position: static;
     text-align: center;}

#people-content h4  { 
	
	  margin: auto;
	  padding-top: 0.4em;
	  padding-bottom: 0.8em;
	  border-bottom: solid 1px rgba(0,0,0,0.2);
	  background-color: rgba(255,255,255,0.5);
	  color: #474747;
	
}

/* People - followers and following */
.people{
	padding:0 16px;
	float:left;
	/*width:91.7%;*/
	margin-right:4px;
	height:505px;
	overflow-y:auto;
}
.people li{
	list-style:none;
	margin:0 0 10px 0;
	padding:10px 0;
	border-bottom:1px solid rgba(0,0,0,0.2);
	width:100%;
	float:left;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 12px;
}
.people li div.displaypic{
	float:left;
	border-radius:50%;
	margin:0 10px;
	padding:0;
	cursor:pointer;
	height:60px;
	width:60px;
	display: inline-block;
	background-position: center center;
    background-size: cover;
}
.people li img{
	float:left;
	border-radius:50%;
	margin:0 10px;
	cursor:pointer;
}
.people li button img{
	width: 22px;
	height: 22px;
	margin: auto;
	float: center;
	border-radius:0;
}
.people li div{
	float: left;
	width: 67%;
	padding: 8px 0 0 0;
	text-align:left;
}
.people li div span{
	float:left;
	padding:10px 0 0 0;
}
.people li div button{
	float:right;
	margin: 0;
	width: 40px;
	background:none;
}
.people li div button.register{
	background:none;
}


/* Page Content */ 

.image-upload {
	text-align: center;
}

.upload-pic{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	float: none;
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: -2em;

	display: inline-block;
	background-position: center center;
    background-size: cover;
	border: 2px solid #ebebeb;
}

.upload-banner{
	width: 280px;
	height: 145px;
	border-radius: 0px;
	float: none;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.4em;
	display: inline-block;
	background-position: center center;
    background-size: cover;
	border: 2px solid #ebebeb;
}

.profileimg {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 2px solid #ebebeb;
	float: none;
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 2em;
}

.settings-wrapper { 
	width: 100%;
	background-color: rgba(255,255,255,0);
	margin: auto;
	margin-top: 4em;
	padding-bottom: 6em;
	padding: auto;
	border: 0px solid black;
}


#settings-content { 
	 margin:auto;
	 margin-top: -2em;
	 margin-bottom: 4em;
	 padding: 1em;;
	 background-color: #fff;
	 width: 90%;
	 height: auto;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);     
     border-radius: 2px;
     float: none;
     position: static;
     text-align: center;
     padding-bottom: 4.4em;}
     
     
#settings-content p { 
	 text-align: left;
	 margin-left: 3.4em;
	 margin-top: 0.4em;
	 color: #e51c23;
}

#settings-content a p { 
	color: #BDC3C7;
}

#settings-content a:hover p {
	color: #474747
}

#save h6 { 
	float: left;
	margin-top: 0.2em;
	margin: 0;
}

#save .submit3 { 
	float: right;
	margin-top: -0.8em;
	margin-right: 1em;
}    
	
#settings-content button { bottom: -3em; right: -40%; margin-top: -2em; }
	
.submit4 input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
    padding: 0;
    background-color: #00E676;	            
   	font-size: 0.6em;
	color: #ffffff;	
	display: block;
	background-image: url("../../images/icons/tick64.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	}
	
.submit4 input:hover {
	background-color: #00f982;
    box-shadow:  0px 1px 2px 1px rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;	}
    	

/* SEARCHBAR */ 

.search { 
	display: none;
	
}

.search .wd-search { 
	display: none;
}


/* Profile tab contents */
.tabcontents{
	float:left;
	width:100%;
}
.tabcontents .tab-details{
	display: none;
}
.tabcontents .tab-details li{
	list-style: none;
    color: #474747;	
}

input, textarea, button {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    -webkit-border-radius: 0; 
}
	
input: focus { outline:0 !important; background-color: none;}

button:focus { outline:0 !important; background-color: none;}


.browse { float:right;}
.browse input[type="file"] { opacity:0; display:none;}
.browse span { background:url("../../images/icons/forms/upload.png") no-repeat; background-position: center center; background-size: cover; height:40px; width:90px; display:inline-block; margin-top: 50px; cursor:pointer; transition:all linear 0.2s 0s; -webkit-transition:all linear 0.2s 0s;}
.browse span:hover { transform:scale(1.2); -webkit-transform:scale(1.2);}	

.browse { margin: auto; float: none; }    

